@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

@keyframes slideIn {
    0% {
        height: 5%;
    }


    100% {
        height: 50%;
    }
}

@keyframes comeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        height: 50%;
        opacity: 1;
    }

    50% {
        height: 25%;
        opacity: .9;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@keyframes comeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-110%);
    }

    50% {
        transform: translateX(-220%);
    }

    75% {
        transform: translateX(-330%);
    }

    100% {
        transform: translateX(-440%);
    }
}

@keyframes mark {
    0% {
        background-color: hsl(12, 88%, 59%);
    }

    50% {
        background-color: none;
    }

    100% {
        background-color: none;
    }
}

.desktop-div {
    display: none;
}

body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    overflow-x: hidden;
}

.mobile-nav {
    display: flex;
    justify-content: center;
    background-image: url("images\\bg-tablet-pattern.svg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: -30% -50%;
}

.nav-about {
    background-image: url("images\\bg-tablet-pattern.svg");
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: -440% 32%;
}

.nav-div {
    width: 85%;
}

.navdiv {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 13vh;
}

.logo {
    justify-self: left;
}

.menu-icon {
    justify-self: right;
}

.close_icon {
    justify-self: right;
    position: absolute;
}

.hero-img {
    width: 100%;
}

.hero-txt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.hero-txt {
    color: hsl(228, 39%, 23%);
    font-size: 2.2em;
    margin-bottom: 10px;
}

.hero-subtxt {
    margin-top: 15px;
    line-height: 23px;
    color: hsl(227, 12%, 61%);
}

.get-started-btn {
    background-color: hsl(12, 88%, 59%);
    box-shadow: 0px 5px 7px hsl(12, 88%, 59%, .3);
    cursor: pointer;
    border: 0px;
    color: white;
    border-radius: 50px;
    width: 40%;
    height: 7vh;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 0%, .2);
    width: 100vw;
}

.navigator-div {
    position: absolute;
    top: 15%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0px 10px 100px hsl(0, 0%, 0%, .3);
    animation: slideIn .45s linear;
}

.navigator {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: comeIn .45s .3s linear both;
}

.navigator>a {
    color: hsl(228, 39%, 23%);
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20%;
}

.navigator>.pricing {
    margin-top: -10%;
}

.display {
    display: none;
}

.remove-nav-div {
    animation: slideOut .45s linear both;
}

.remove-nav {
    animation: comeOut .2s linear both;
}

.about-hero-div {
    text-align: center;
}

.about-hero-txt {
    color: hsl(228, 39%, 23%);
    font-size: 2.2em;
}

.about-hero-subtxt {
    margin-top: 15px;
    margin-bottom: 10vh;
    line-height: 23px;
    color: hsl(227, 12%, 61%);
}

.first-about {
    margin-top: 12vh;
}

.about-txts-div {
    background-color: hsl(13, 100%, 96%);
    display: grid;
    grid-template-columns: 17vw auto;
    margin-left: 5vw;
    margin-top: 7vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about-id {
    background-color: hsl(12, 88%, 59%);
    width: 17vw;
    height: 7vh;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-txt {
    color: hsl(228, 39%, 23%);
    margin-top: 17px;
    margin-left: 5vw;
    font-size: .9em;
}

.about-subtxt {
    margin-left: 5vw;
    color: hsl(227, 12%, 61%);
    line-height: 27px;
    font-size: .95em;
}

.testimonials-heading {
    text-align: center;
    color: hsl(228, 39%, 23%);
    font-size: 2.2em;
    margin-top: 15vh;
    margin-bottom: 17vh;
}

.testimonials {
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
    justify-items: center;
    width: 100vw;
}

.mobile-testimony {
    width: 90%;
    height: 45vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}

.avatar-img {
    width: 27%;
    height: 14vh;
    position: absolute;
    margin-top: -16vh;
    margin-left: -12vw;
}

.name {
    font-weight: 700;
    color: hsl(228, 39%, 23%);
}

.thetestimony {
    color: hsl(227, 12%, 61%);
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 24px;
}

.slide {
    animation: slide 10s ease-in-out infinite both;
}

.markers-div {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.markers {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.marker {
    border: 1.9px solid hsl(12, 88%, 59%);
    border-radius: 50%;
    width: 3vw;
    height: 1vh;
    margin-right: 10%;
}

.marker1 {
    animation: mark 5s infinite 0s alternate forwards;
}

.marker2 {
    animation: mark 5s infinite 2s alternate forwards;
}

.marker3 {
    animation: mark 5s infinite 4s alternate forwards;
}

.marker4 {
    animation: mark 5s infinite 6s alternate forwards;
}

.get-startedbtn-div {
    display: flex;
    justify-content: center;
}

.simplify-section {
    background-color: hsl(12, 88%, 59%);
    background-image: url("images\\bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.simplify-div {
    text-align: center;
}

.simplify-heading {
    color: #ffffff;
    font-size: 2.2em;
}

.simplify-get-started {
    background-color: #ffffff;
    width: 45%;
    height: 6vh;
    border: 0;
    border-radius: 50px;
    color: hsl(12, 88%, 59%);
    font-weight: 700;
}

.mobile-footer {
    height: 80vh;
    width: 100%;
    background-color: hsl(233, 12%, 13%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-email-field {
    width: 62vw;
    height: 7vh;
    border-radius: 50px;
    padding-left: 20px;
    border: 0;
}

.go {
    background-color: hsl(12, 88%, 59%);
    color: #ffffff;
    width: 15vw;
    height: 7vh;
    border: 0px;
    border-radius: 50px;
    font-weight: 700;
    margin-left: 3vw;
    cursor: pointer;
}

.error {
    color: rgb(255, 26, 26);
    border: 1px solid rgb(255, 26, 26);
}

.mobile_error_p {
    color: rgb(255, 26, 26);
    margin-right: 0;
    margin-left: 5vw;
    margin-top: 7px;
    margin-bottom: 0;
    display: none;
    font-size: .87em;
}

.sitemaps {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.sitemap {
    display: flex;
    flex-direction: column;
    padding-top: 7vh;
}

.sitemap>a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 20%;
}

.socials {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    height: 7vh;
    width: 90vw;
    padding-top: 5vh;
}

.socials>a>img {
    width: 7vw;
}

.footer-logo-div {
    display: flex;
    justify-content: center;
}

.footer-logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mobile-copyright {
    text-align: center;
    font-size: .9em;
    color: hsl(227, 12%, 61%);
}